/* From Uiverse.io by alexruix */ 
.components {
  margin-top: 3rem;
  margin-left: 6rem;
}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 35%;          /* ocupa todo el ancho disponible */
  max-width: none;      /* elimina el límite de 190px */
  justify-content: flex-start;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 2px;
  outline: none;
  background-color: #413b3b;
  color: #ffffff;
  box-shadow: 0 0 2px #C1D9BF, 0 0 0 1px #f5f5f5eb;
  transition: .3s ease;
}

.input::placeholder {
  color: #f8f4f4;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #ffffff;
  width: 1rem;
  height: 1rem;
}

.grid-container {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 35px;
}

.main {
    min-height: 100vh;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    display: flex;
    flex-direction: column;
  }


  p {
    color: #c8bebe;
    font-size: 25px;
    font-weight: bold;
  }

  .pagination-controls {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 1rem;               
    margin-top: 1rem;        
  }
  
button {
    color: #c8bebe;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #9c8e8d;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }