.top-bar {
    background-color: #242121; /* gris claro */
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* sombra sutil opcional */
  }
  
  .top-bar h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #c8bebe;
  }
